* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

nav {
    background: #2b2b2b;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav .logo {
    text-transform: uppercase;
    color: white;
    margin: 8px;
    margin-left: 30px;
}

nav .logo h1 {
    text-decoration: none;
    font-size: 1.5em;
}

nav .logo h1 span {
    color: #f23333;
    font-size: 1em;
    text-decoration: line-through;
}
  
  nav input[type=text] {
    padding: 6px;
    width: 340px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16.8px;
    border: none;
    cursor: pointer;
  }

nav .koszyk {
    color: white;
    font-size: 38px;
    cursor: pointer;
}

nav .koszyk img{
    height: 25px;
    margin-right: 25px;
}

.wybieranieKategorii {
    background: #1b1b1b;
    display: flex;
    justify-content: space-around;
    padding: 8px 100px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.wybieranieKategorii a {    
    color: white;
}

.wybieranieKategorii a:hover {
    color: #c4c4c4;
}

.wybieranieKategorii ul ul {
    color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    background: #2b2b2b;
    padding: 15px;
    border-radius: 0 0 12px 12px;
}

.wybieranieKategorii li {
    list-style: none;
    cursor: pointer;
}

.wybieranieKategorii ul:hover ul{
    display: flex;
    cursor: pointer;
}

.footer-distributed {
    background-color: #2b2b2b;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 517px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
